main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinzaConceito);
    padding: 3rem 0;
    flex-direction: column;
    gap: 3rem;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;  
}

.formulario {
    width: 46rem;
    padding: 2rem 6rem;
    background-color: rgb(232, 244, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.campo {
    width: 10rem;
    height: 2rem;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--azulCampos);
    border: 1px solid black;
}

.a input{
    width: 10rem;
    height: 2rem;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--azulCampos);
    border: 1px solid black;
}

.campo-label {
    text-align: center;
}

button:hover {
    background-color: var(--azulConceito);
}

.campo-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}