<main>
  <form class="formulario" (ngSubmit)="cadastrar()" ngNativeValidate>
    <div class="form-wrapper">
      <label id="nome" class="campo-label">
        <p-floatLabel>
          <input pInputText name="nome" [(ngModel)]="cliente.nome" required />
          <label id="nome">Nome</label>
        </p-floatLabel>
      </label>
      <label id="cpf" class="campo-label">
        <p-floatLabel>
          <input
            pInputText
            name="cpf"
            [(ngModel)]="cliente.cpf"
            required
            maxlength="11"
            minlength="11"
            placeholder="99999999999"
          />
          <label id="cpf">CPF</label>
        </p-floatLabel>
      </label>
      <label id="dataNascimento" class="campo-label">
        <p-floatLabel>
          <p-calendar
            [(ngModel)]="cliente.dataNascimento"
            dateFormat="yy-mm-dd"
            inputId="birth_date"
            name="dataNascimento"
          />
          <label id="dataNascimento">Data de nascimento</label>
        </p-floatLabel>
      </label>
      <label id="email" class="campo-label">
        <p-floatLabel>
          <input
            type="email"
            pInputText
            name="email"
            [(ngModel)]="cliente.email"
            required
          />
          <label id="email">E-mail</label>
        </p-floatLabel>
      </label>
      <label id="telefone" class="campo-label">
        <p-floatLabel>
          <input
            type="tel"
            pInputText
            name="telefone"
            [(ngModel)]="cliente.telefone"
            required
          />
          <label id="telefone">Telefone</label>
        </p-floatLabel>
      </label>
      <label id="profissao" class="campo-label">
        <p-floatLabel>
          <input
            pInputText
            name="profissao"
            [(ngModel)]="cliente.profissao"
            required
          />
          <label id="prodissao">profissao</label>
        </p-floatLabel>
      </label>
      <div class="campo-wrapper">
        Você concorda com os termos de condições?
        <p-checkbox
          required
          [binary]="true"
          inputId="binary"
          name="termos"
          [(ngModel)]="cliente.termos"
          required
        />
      </div>
    </div>
    <button pButton pRipple type="submit">Cadastrar</button>
  </form>
  <button pButton pRipple (click)="voltar()">Voltar</button>
</main>
