front/node_modules/*
front/package-lock.json
front/.angular

springboot/cadastros/.gitattributes
springboot/cadastros/.gitignore
springboot/cadastros/.mvn/
springboot/cadastros/mvnw
springboot/cadastros/mvnw.cmd

