<nav>
  <form (ngSubmit)="filtrar()">
    <label id="nome">
      Pesquisar por nome
      <input type="text" name="nome" [(ngModel)]="nome" />
    </label>
    <label>
      Pesquisar por e-mail
      <input type="text" name="email" [(ngModel)]="email" />
    </label>
    <label>
      Pesquisar por CPF
      <input type="text" name="cpf" [(ngModel)]="cpf" />
    </label>
    <button>
      <img src="assets/Pesquisar.png" alt="" />
    </button>
  </form>
  <app-botao type="button" (click)="limparFiltros()">Limpar filtro</app-botao>
</nav>
