nav {
    display: flex;
    background-color: var(--cinzaConceito);
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}

input {
        width: 10rem;
    height: 2rem;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--azulCampos);
}

button {
    background: none;
    border: none;
}

img {
    cursor: pointer;
}